In [21]:
#Import library
import mysql.connector as mysql
import pandas as pd
import numpy as np

#Koneksi ke localhost (Database)
mydb=mysql.connect(
    host="localhost",
    user="root",
    passwd=""
)

In [22]:
#Menampilkan daftar database localhost
mycursor=mydb.cursor()
mycursor.execute("SHOW DATABASES")
for x in mycursor:
    print(x)

('db_dishub',)
('db_hotel',)
('db_toko',)
('e1e120100_myhr',)
('fuzzy_db',)
('hotel',)
('hotellisa',)
('information_schema',)
('ksucatalog',)
('latih07_genap',)
('latih5_genap',)
('latih8_genap',)
('mysql',)
('owncloud',)
('performance_schema',)
('phpmyadmin',)
('quis7_genap',)
('quis8_genap',)
('quis_genap',)
('test',)

In [23]:
#Menampilkan Semua Daftar Tabel
mydb.database="fuzzy_db"
mycursor.execute("SHOW TABLES")
data=mycursor.fetchall()
print(data)

[('tb_emp',), ('tb_kelompok',), ('tb_kriteria',)]

In [24]:
#Menampilkan Data Dalam Tabel fuzzy_db (tb_emp)
mycursor.execute("SELECT * FROM tb_emp")
data=mycursor.fetchall()
df=pd.DataFrame(data,columns=['Id','Nama','Usia','Masa Kerja','Gaji'])
print(df)

   Id     Nama  Usia  Masa Kerja     Gaji
0   1     Anik    30           6   750000
1   2     Yudi    48          17  1255000
2   3  Inawati    36          14  1500000
3   4     Rudi    37           4  1040000
4   5    Riska    42          12   950000
5   6     Aman    39          13  1600000
6   7     Dudi    37           5  1250000
7   8     Rini    32           1   550000
8   9    Ratih    35           3   735000
9  10   Panjul    25           2   860000

In [25]:
#Menampilkan Data Dalam Tabel fuzzy_db (tb_kriteria)
mycursor.execute("SELECT * FROM tb_kriteria")
data=mycursor.fetchall()
df=pd.DataFrame(data,columns=['Id','Nama Kriteria','Bawah','Tengah','Atas','Kelompok','Keterangan'])
print(df)

   Id Nama Kriteria      Bawah     Tengah         Atas  Kelompok  Keterangan
0   1          Muda        0.0       30.0         40.0         1  Darah Muda
1   2      Parobaya       35.0       45.0         50.0         1        None
2   3           Tua       40.0       50.0         99.0         1        None
3   4          Baru        0.0        5.0         15.0         2        None
4   5          Lama       10.0       25.0         99.0         2        None
5   6        Rendah        0.0   300000.0     800000.0         3        None
6   7        Sedang   500000.0  1000000.0    1500000.0         3        None
7   8        Tinggi  1000000.0  2000000.0  100000000.0         3        None

In [26]:
#Derajat Keanggotaan Usia
mycursor.execute("SELECT usia FROM tb_emp")
kUsia=mycursor.fetchall()
print(kUsia)

[(30,), (48,), (36,), (37,), (42,), (39,), (37,), (32,), (35,), (25,)]

In [27]:
#Derajat Keanggotaan Usia (Muda)
#Bawah
mycursor.execute("SELECT bawah FROM tb_kriteria WHERE id=1")
kbawah=mycursor.fetchall()
#Tengah
mycursor.execute("SELECT tengah FROM tb_kriteria WHERE id=1")
ktengah=mycursor.fetchall()
#Atas
mycursor.execute("SELECT atas FROM tb_kriteria WHERE id=1")
katas=mycursor.fetchall()

print(kbawah,ktengah,katas)

muda=[]
for i in kUsia:
    x=i
    a=kbawah[0] 
    b=ktengah[0]
    c=katas[0]

    if x<a or x>c:
        miu=0
    elif a<=x and x<=b:
        miu=(np.subtract(x,a))/(np.subtract(b,a))
    elif b<x and x<=c:
        miu=(np.subtract(c,x))/(np.subtract(c,b))
    
    print("Miu Umur Muda = ",miu)
    muda.append(miu)

print("\n",muda)

#Derajat Keanggotaan Usia (Parobaya)
#Bawah
mycursor.execute("SELECT bawah FROM tb_kriteria WHERE id=2")
kbawah=mycursor.fetchall()
#Tengah
mycursor.execute("SELECT tengah FROM tb_kriteria WHERE id=2")
ktengah=mycursor.fetchall()
#Atas
mycursor.execute("SELECT atas FROM tb_kriteria WHERE id=2")
katas=mycursor.fetchall()

print("\n",kbawah,ktengah,katas)
parobaya=[]

for i in kUsia:
    x=i
    a=kbawah[0] 
    b=ktengah[0]
    c=katas[0]

    if x<a or x>c:
        miu=0
    elif a<=x and x<=b:
        miu=(np.subtract(x,a))/(np.subtract(b,a))
    elif b<x and x<=c:
        miu=(np.subtract(c,x))/(np.subtract(c,b))
    
    print("Miu Umur Parobaya = ",miu)
    parobaya.append(miu)

print("\n",parobaya)

#Derajat Keanggotaan Usia (Tua)
#Bawah
mycursor.execute("SELECT bawah FROM tb_kriteria WHERE id=3")
kbawah=mycursor.fetchall()
#Tengah
mycursor.execute("SELECT tengah FROM tb_kriteria WHERE id=3")
ktengah=mycursor.fetchall()
#Atas
mycursor.execute("SELECT atas FROM tb_kriteria WHERE id=3")
katas=mycursor.fetchall()

print("\n",kbawah,ktengah,katas)
tua=[]

for i in kUsia:
    x=i
    a=kbawah[0] 
    b=ktengah[0]
    c=katas[0]

    if x<a or x>c:
        miu=0
    elif a<=x and x<=b:
        miu=(np.subtract(x,a))/(np.subtract(b,a))
    elif b<x and x<=c:
        miu=(np.subtract(c,x))/(np.subtract(c,b))
    
    print("Miu Umur Tua = ",miu)
    tua.append(miu)
    
print("\n",tua)

[(0.0,)] [(30.0,)] [(40.0,)]
Miu Umur Muda =  [1.]
Miu Umur Muda =  0
Miu Umur Muda =  [0.4]
Miu Umur Muda =  [0.3]
Miu Umur Muda =  0
Miu Umur Muda =  [0.1]
Miu Umur Muda =  [0.3]
Miu Umur Muda =  [0.8]
Miu Umur Muda =  [0.5]
Miu Umur Muda =  [0.83333333]

 [array([1.]), 0, array([0.4]), array([0.3]), 0, array([0.1]), array([0.3]), array([0.8]), array([0.5]), array([0.83333333])]

 [(35.0,)] [(45.0,)] [(50.0,)]
Miu Umur Parobaya =  0
Miu Umur Parobaya =  [0.4]
Miu Umur Parobaya =  [0.1]
Miu Umur Parobaya =  [0.2]
Miu Umur Parobaya =  [0.7]
Miu Umur Parobaya =  [0.4]
Miu Umur Parobaya =  [0.2]
Miu Umur Parobaya =  0
Miu Umur Parobaya =  [0.]
Miu Umur Parobaya =  0

 [0, array([0.4]), array([0.1]), array([0.2]), array([0.7]), array([0.4]), array([0.2]), 0, array([0.]), 0]

 [(40.0,)] [(50.0,)] [(99.0,)]
Miu Umur Tua =  0
Miu Umur Tua =  [0.8]
Miu Umur Tua =  0
Miu Umur Tua =  0
Miu Umur Tua =  [0.2]
Miu Umur Tua =  0
Miu Umur Tua =  0
Miu Umur Tua =  0
Miu Umur Tua =  0
Miu Umur Tua =  0

 [0, array([0.8]), 0, 0, array([0.2]), 0, 0, 0, 0, 0]

In [28]:
#Data Derajat Keanggotaan Usia (All)
mycursor.execute("SELECT nama FROM tb_emp")
data=mycursor.fetchall()
fixU=list(zip(data,muda,parobaya,tua))
df=pd.DataFrame(fixU,columns=['Nama Karyawan','Muda','Parobaya','Tua'])
print(df)

  Nama Karyawan                  Muda Parobaya    Tua
0       (Anik,)                 [1.0]        0      0
1       (Yudi,)                     0    [0.4]  [0.8]
2    (Inawati,)                 [0.4]    [0.1]      0
3       (Rudi,)                 [0.3]    [0.2]      0
4      (Riska,)                     0    [0.7]  [0.2]
5       (Aman,)                 [0.1]    [0.4]      0
6       (Dudi,)                 [0.3]    [0.2]      0
7       (Rini,)                 [0.8]        0      0
8      (Ratih,)                 [0.5]    [0.0]      0
9     (Panjul,)  [0.8333333333333334]        0      0

In [29]:
#Derajat Keanggotaan Masa Kerja
mycursor.execute("SELECT masakerja FROM tb_emp")
kMasa=mycursor.fetchall()
print(kMasa)

[(6,), (17,), (14,), (4,), (12,), (13,), (5,), (1,), (3,), (2,)]

In [30]:
#Derajat Keanggotaan Masa Kerja (Baru)
#Bawah
mycursor.execute("SELECT bawah FROM tb_kriteria WHERE id=4")
kbawah=mycursor.fetchall()
#Tengah
mycursor.execute("SELECT tengah FROM tb_kriteria WHERE id=4")
ktengah=mycursor.fetchall()
#Atas
mycursor.execute("SELECT atas FROM tb_kriteria WHERE id=4")
katas=mycursor.fetchall()

print(kbawah,ktengah,katas)

baru=[]
for j in kMasa:
    x=j
    a=kbawah[0] 
    b=ktengah[0]
    c=katas[0]

    if x<a or x>c:
        miu=0
    elif a<=x and x<=b:
        miu=(np.subtract(x,a))/(np.subtract(b,a))
    elif b<x and x<=c:
        miu=(np.subtract(c,x))/(np.subtract(c,b))
    
    print("Miu Masa Kerja Baru = ",miu)
    baru.append(miu)

print("\n",baru)

#Derajat Keanggotaan Masa Kerja (Lama)
#Bawah
mycursor.execute("SELECT bawah FROM tb_kriteria WHERE id=5")
kbawah=mycursor.fetchall()
#Tengah
mycursor.execute("SELECT tengah FROM tb_kriteria WHERE id=5")
ktengah=mycursor.fetchall()
#Atas
mycursor.execute("SELECT atas FROM tb_kriteria WHERE id=5")
katas=mycursor.fetchall()

print("\n",kbawah,ktengah,katas)
lama=[]

for j in kMasa:
    x=j
    a=kbawah[0] 
    b=ktengah[0]
    c=katas[0]

    if x<a or x>c:
        miu=0
    elif a<=x and x<=b:
        miu=(np.subtract(x,a))/(np.subtract(b,a))
    elif b<x and x<=c:
        miu=(np.subtract(c,x))/(np.subtract(c,b))
    
    print("Miu Masa Kerja Lama = ",miu)
    lama.append(miu)

print("\n",lama)

[(0.0,)] [(5.0,)] [(15.0,)]
Miu Masa Kerja Baru =  [0.9]
Miu Masa Kerja Baru =  0
Miu Masa Kerja Baru =  [0.1]
Miu Masa Kerja Baru =  [0.8]
Miu Masa Kerja Baru =  [0.3]
Miu Masa Kerja Baru =  [0.2]
Miu Masa Kerja Baru =  [1.]
Miu Masa Kerja Baru =  [0.2]
Miu Masa Kerja Baru =  [0.6]
Miu Masa Kerja Baru =  [0.4]

 [array([0.9]), 0, array([0.1]), array([0.8]), array([0.3]), array([0.2]), array([1.]), array([0.2]), array([0.6]), array([0.4])]

 [(10.0,)] [(25.0,)] [(99.0,)]
Miu Masa Kerja Lama =  0
Miu Masa Kerja Lama =  [0.46666667]
Miu Masa Kerja Lama =  [0.26666667]
Miu Masa Kerja Lama =  0
Miu Masa Kerja Lama =  [0.13333333]
Miu Masa Kerja Lama =  [0.2]
Miu Masa Kerja Lama =  0
Miu Masa Kerja Lama =  0
Miu Masa Kerja Lama =  0
Miu Masa Kerja Lama =  0

 [0, array([0.46666667]), array([0.26666667]), 0, array([0.13333333]), array([0.2]), 0, 0, 0, 0]

In [31]:
#Data Derajat Keanggotaan Masa Kerja (All)
mycursor.execute("SELECT nama FROM tb_emp")
data=mycursor.fetchall()
fixU=list(zip(data,baru,lama))
df=pd.DataFrame(fixU,columns=['Nama Karyawan','Baru','Lama'])
print(df)

  Nama Karyawan   Baru                   Lama
0       (Anik,)  [0.9]                      0
1       (Yudi,)      0   [0.4666666666666667]
2    (Inawati,)  [0.1]  [0.26666666666666666]
3       (Rudi,)  [0.8]                      0
4      (Riska,)  [0.3]  [0.13333333333333333]
5       (Aman,)  [0.2]                  [0.2]
6       (Dudi,)  [1.0]                      0
7       (Rini,)  [0.2]                      0
8      (Ratih,)  [0.6]                      0
9     (Panjul,)  [0.4]                      0

In [32]:
#Derajat Keanggotaan Gaji
mycursor.execute("SELECT gaji FROM tb_emp")
kGaji=mycursor.fetchall()
print(kGaji)

[(750000,), (1255000,), (1500000,), (1040000,), (950000,), (1600000,), (1250000,), (550000,), (735000,), (860000,)]

In [33]:
#Derajat Keanggotaan Gaji (Rendah)
#Bawah
mycursor.execute("SELECT bawah FROM tb_kriteria WHERE id=6")
kbawah=mycursor.fetchall()
#Tengah
mycursor.execute("SELECT tengah FROM tb_kriteria WHERE id=6")
ktengah=mycursor.fetchall()
#Atas
mycursor.execute("SELECT atas FROM tb_kriteria WHERE id=6")
katas=mycursor.fetchall()

print(kbawah,ktengah,katas)

rendah=[]
for k in kGaji:
    x=k
    a=kbawah[0] 
    b=ktengah[0]
    c=katas[0]

    if x<a or x>c:
        miu=0
    elif a<=x and x<=b:
        miu=(np.subtract(x,a))/(np.subtract(b,a))
    elif b<x and x<=c:
        miu=(np.subtract(c,x))/(np.subtract(c,b))
    
    print("Miu Gaji Rendah = ",miu)
    rendah.append(miu)

print("\n",rendah)

#Derajat Keanggotaan Gaji (Sedang)
#Bawah
mycursor.execute("SELECT bawah FROM tb_kriteria WHERE id=7")
kbawah=mycursor.fetchall()
#Tengah
mycursor.execute("SELECT tengah FROM tb_kriteria WHERE id=7")
ktengah=mycursor.fetchall()
#Atas
mycursor.execute("SELECT atas FROM tb_kriteria WHERE id=7")
katas=mycursor.fetchall()

print("\n",kbawah,ktengah,katas)
sedang=[]

for k in kGaji:
    x=k
    a=kbawah[0] 
    b=ktengah[0]
    c=katas[0]

    if x<a or x>c:
        miu=0
    elif a<=x and x<=b:
        miu=(np.subtract(x,a))/(np.subtract(b,a))
    elif b<x and x<=c:
        miu=(np.subtract(c,x))/(np.subtract(c,b))
    
    print("Miu Gaji Sedang = ",miu)
    sedang.append(miu)

print("\n",sedang)

#Derajat Keanggotaan Gaji (Tinggi)
#Bawah
mycursor.execute("SELECT bawah FROM tb_kriteria WHERE id=8")
kbawah=mycursor.fetchall()
#Tengah
mycursor.execute("SELECT tengah FROM tb_kriteria WHERE id=8")
ktengah=mycursor.fetchall()
#Atas
mycursor.execute("SELECT atas FROM tb_kriteria WHERE id=8")
katas=mycursor.fetchall()

print("\n",kbawah,ktengah,katas)
tinggi=[]

for k in kGaji:
    x=k
    a=kbawah[0] 
    b=ktengah[0]
    c=katas[0]

    if x<a or x>c:
        miu=0
    elif a<=x and x<=b:
        miu=(np.subtract(x,a))/(np.subtract(b,a))
    elif b<x and x<=c:
        miu=(np.subtract(c,x))/(np.subtract(c,b))
    
    print("Miu Gaji Tinggi = ",miu)
    tinggi.append(miu)
    
print("\n",tinggi)

[(0.0,)] [(300000.0,)] [(800000.0,)]
Miu Gaji Rendah =  [0.1]
Miu Gaji Rendah =  0
Miu Gaji Rendah =  0
Miu Gaji Rendah =  0
Miu Gaji Rendah =  0
Miu Gaji Rendah =  0
Miu Gaji Rendah =  0
Miu Gaji Rendah =  [0.5]
Miu Gaji Rendah =  [0.13]
Miu Gaji Rendah =  0

 [array([0.1]), 0, 0, 0, 0, 0, 0, array([0.5]), array([0.13]), 0]

 [(500000.0,)] [(1000000.0,)] [(1500000.0,)]
Miu Gaji Sedang =  [0.5]
Miu Gaji Sedang =  [0.49]
Miu Gaji Sedang =  [0.]
Miu Gaji Sedang =  [0.92]
Miu Gaji Sedang =  [0.9]
Miu Gaji Sedang =  0
Miu Gaji Sedang =  [0.5]
Miu Gaji Sedang =  [0.1]
Miu Gaji Sedang =  [0.47]
Miu Gaji Sedang =  [0.72]

 [array([0.5]), array([0.49]), array([0.]), array([0.92]), array([0.9]), 0, array([0.5]), array([0.1]), array([0.47]), array([0.72])]

 [(1000000.0,)] [(2000000.0,)] [(100000000.0,)]
Miu Gaji Tinggi =  0
Miu Gaji Tinggi =  [0.255]
Miu Gaji Tinggi =  [0.5]
Miu Gaji Tinggi =  [0.04]
Miu Gaji Tinggi =  0
Miu Gaji Tinggi =  [0.6]
Miu Gaji Tinggi =  [0.25]
Miu Gaji Tinggi =  0
Miu Gaji Tinggi =  0
Miu Gaji Tinggi =  0

 [0, array([0.255]), array([0.5]), array([0.04]), 0, array([0.6]), array([0.25]), 0, 0, 0]

In [34]:
#Data Derajat Keanggotaan Gaji (All)
mycursor.execute("SELECT nama FROM tb_emp")
data=mycursor.fetchall()
fixU=list(zip(data,rendah,sedang,tinggi))
df=pd.DataFrame(fixU,columns=['Nama Karyawan','Rendah','Sedang','Tinggi'])
print(df)

  Nama Karyawan  Rendah  Sedang   Tinggi
0       (Anik,)   [0.1]   [0.5]        0
1       (Yudi,)       0  [0.49]  [0.255]
2    (Inawati,)       0   [0.0]    [0.5]
3       (Rudi,)       0  [0.92]   [0.04]
4      (Riska,)       0   [0.9]        0
5       (Aman,)       0       0    [0.6]
6       (Dudi,)       0   [0.5]   [0.25]
7       (Rini,)   [0.5]   [0.1]        0
8      (Ratih,)  [0.13]  [0.47]        0
9     (Panjul,)       0  [0.72]        0

In [35]:
#Data Karyawan Dan Derajat Keanggotaan (All)
#Id
mycursor.execute("SELECT id FROM tb_emp")
idK=mycursor.fetchall()
#Nama Karyawan
mycursor.execute("SELECT nama FROM tb_emp")
nama=mycursor.fetchall()
#Usia
mycursor.execute("SELECT usia FROM tb_emp")
usia=mycursor.fetchall()
#Masa Kerja
mycursor.execute("SELECT masakerja FROM tb_emp")
masa=mycursor.fetchall()
#Gaji
mycursor.execute("SELECT gaji FROM tb_emp")
gaji=mycursor.fetchall()

fixU=list(zip(idK,nama,usia,masa,gaji,muda,parobaya,tua,baru,lama,rendah,
              sedang,tinggi))
df=pd.DataFrame(fixU,columns=['Id','Nama Karyawan','Usia','Masa Kerja','Gaji',
                              'Muda','Parobaya','Tua','Baru','Lama',
                              'Rendah','Sedang','Tinggi'])
print(df)

      Id Nama Karyawan   Usia Masa Kerja        Gaji                  Muda  \
0   (1,)       (Anik,)  (30,)       (6,)   (750000,)                 [1.0]
1   (2,)       (Yudi,)  (48,)      (17,)  (1255000,)                     0
2   (3,)    (Inawati,)  (36,)      (14,)  (1500000,)                 [0.4]
3   (4,)       (Rudi,)  (37,)       (4,)  (1040000,)                 [0.3]
4   (5,)      (Riska,)  (42,)      (12,)   (950000,)                     0
5   (6,)       (Aman,)  (39,)      (13,)  (1600000,)                 [0.1]
6   (7,)       (Dudi,)  (37,)       (5,)  (1250000,)                 [0.3]
7   (8,)       (Rini,)  (32,)       (1,)   (550000,)                 [0.8]
8   (9,)      (Ratih,)  (35,)       (3,)   (735000,)                 [0.5]
9  (10,)     (Panjul,)  (25,)       (2,)   (860000,)  [0.8333333333333334]

  Parobaya    Tua   Baru                   Lama  Rendah  Sedang   Tinggi
0        0      0  [0.9]                      0   [0.1]   [0.5]        0
1    [0.4]  [0.8]      0   [0.4666666666666667]       0  [0.49]  [0.255]
2    [0.1]      0  [0.1]  [0.26666666666666666]       0   [0.0]    [0.5]
3    [0.2]      0  [0.8]                      0       0  [0.92]   [0.04]
4    [0.7]  [0.2]  [0.3]  [0.13333333333333333]       0   [0.9]        0
5    [0.4]      0  [0.2]                  [0.2]       0       0    [0.6]
6    [0.2]      0  [1.0]                      0       0   [0.5]   [0.25]
7        0      0  [0.2]                      0   [0.5]   [0.1]        0
8    [0.0]      0  [0.6]                      0  [0.13]  [0.47]        0
9        0      0  [0.4]                      0       0  [0.72]        0

In [36]:
#Operasi
judul=" Operasi Logika Fuzzy || Waode siti nurhalisa_20100 ".center(75,"*")
print(f"""\r\n{judul}\r\n""")
i=1
pilih=[]
while i==True:
    judul=" Usia ".center(50,"=")
    print(f"""\r\n{judul}
    1. Muda
    2. Parobaya
    3. Tua
    """)
    mUsia=int(input("Masukkan Pilihan Anda : "))
    
    judul=" Masa Kerja ".center(50,"=")
    print(f"""\r\n{judul}
    1. Baru
    2. Lama
    """)
    mMasa=int(input("Masukkan Pilihan Anda : "))
    
    judul=" Gaji ".center(50,"=")
    print(f"""\r\n{judul}
    1. Rendah
    2. Sedang
    3. Tinggi
    """)
    mGaji=int(input("Masukkan Pilihan Anda : "))
    
    judul=" Operasi ".center(50,"=")
    print(f"""\r\n{judul}
    1. OR - OR
    2. AND - AND
    """)
    mOp=int(input("Masukkan Pilihan Anda : "))
    
    pilih.append(mUsia)
    pilih.append(mMasa)
    pilih.append(mGaji)
    pilih.append(mOp)
    i+=1
    
    fix=[]
    #Pilihan 1 OR - OR
    if pilih==[1,1,1,1]:
        pil1=max(max(muda,baru),rendah)
        for i in pil1: 
            if i != 0: 
                fix.append(i)
        print(fix)
    
    elif pilih==[2,1,1,1]:
        pil1=max(max(parobaya,baru),rendah)
        for i in pil1: 
            if i != 0: 
                fix.append(i)
        print(fix)
    
    elif pilih==[3,1,1,1]:
        pil1=max(max(tua,baru),rendah)
        for i in pil1: 
            if i != 0: 
                fix.append(i)
        print(fix)
    
    elif pilih==[1,2,1,1]:
        pil1=max(max(muda,lama),rendah)
        for i in pil1: 
            if i != 0: 
                fix.append(i)
        print(fix)
            
    elif pilih==[2,2,1,1]:
        pil1=max(max(parobaya,lama),rendah)
        for i in pil1: 
            if i != 0: 
                fix.append(i)
        print(fix)
    
    elif pilih==[3,2,1,1]:
        pil1=max(max(tua,lama),rendah)
        for i in pil1: 
            if i != 0: 
                fix.append(i)
        print(fix)
    
    elif pilih==[1,1,2,1]:
        pil1=max(max(muda,baru),sedang)
        for i in pil1: 
            if i != 0: 
                fix.append(i)
        print(fix)
    
    elif pilih==[1,1,3,1]:
        pil1=max(max(muda,baru),tinggi)
        for i in pil1: 
            if i != 0: 
                fix.append(i)
        print(fix)
    
    elif pilih==[2,1,3,1]:
        pil1=max(max(parobaya,baru),tinggi)
        for i in pil1: 
            if i != 0: 
                fix.append(i)
        print(fix)
    
    elif pilih==[3,1,3,1]:
        pil1=max(max(tua,baru),tinggi)
        for i in pil1: 
            if i != 0: 
                fix.append(i)
        print(fix)
    
    elif pilih==[3,2,3,1]:
        pil1=max(max(tua,lama),tinggi)
        for i in pil1: 
            if i != 0: 
                fix.append(i)
        print(fix)
    
    elif pilih==[2,2,3,1]:
        pil1=max(max(parobaya,lama),tinggi)
        for i in pil1: 
            if i != 0: 
                fix.append(i)
        print(fix)
    
    elif pilih==[1,2,3,1]:
        pil1=max(max(muda,lama),tinggi)
        for i in pil1: 
            if i != 0: 
                fix.append(i)
        print(fix)
            
    elif pilih==[1,2,2,1]:
        pil1=max(max(muda,lama),sedang)
        for i in pil1: 
            if i != 0: 
                fix.append(i)
        print(fix)
            
    elif pilih==[2,2,2,1]:
        pil1=max(max(parobaya,lama),sedang)
        for i in pil1: 
            if i != 0: 
                fix.append(i)
        print(fix)
    
    elif pilih==[3,2,2,1]:
        pil1=max(max(tua,lama),sedang)
        for i in pil1: 
            if i != 0: 
                fix.append(i)
        print(fix)
            
    #Pilihan 2 AND - AND
    if pilih==[1,1,1,2]:
        pil1=min(min(muda,baru),rendah)
        for i in pil1: 
            if i != 0: 
                fix.append(i)
        print(fix)
    
    elif pilih==[2,1,1,2]:
        pil1=min(min(parobaya,baru),rendah)
        for i in pil1: 
            if i != 0: 
                fix.append(i)
        print(fix)
    
    elif pilih==[3,1,1,2]:
        pil1=min(min(tua,baru),rendah)
        for i in pil1: 
            if i != 0: 
                fix.append(i)
        print(fix)
    
    elif pilih==[1,2,1,2]:
        pil1=min(min(muda,lama),rendah)
        for i in pil1: 
            if i != 0: 
                fix.append(i)
        print(fix)
            
    elif pilih==[2,2,1,2]:
        pil1=min(min(parobaya,lama),rendah)
        for i in pil1: 
            if i != 0: 
                fix.append(i)
        print(fix)
    
    elif pilih==[3,2,1,2]:
        pil1=min(min(tua,lama),rendah)
        for i in pil1: 
            if i != 0: 
                fix.append(i)
        print(fix)
    
    elif pilih==[1,1,2,2]:
        pil1=min(min(muda,baru),sedang)
        for i in pil1: 
            if i != 0: 
                fix.append(i)
        print(fix)
    
    elif pilih==[1,1,3,2]:
        pil1=min(min(muda,baru),tinggi)
        for i in pil1: 
            if i != 0: 
                fix.append(i)
        print(fix)
    
    elif pilih==[2,1,3,2]:
        pil1=min(min(parobaya,baru),tinggi)
        for i in pil1: 
            if i != 0: 
                fix.append(i)
        print(fix)
    
    elif pilih==[3,1,3,2]:
        pil1=min(min(tua,baru),tinggi)
        for i in pil1: 
            if i != 0: 
                fix.append(i)
        print(fix)
    
    elif pilih==[3,2,3,2]:
        pil1=min(min(tua,lama),tinggi)
        for i in pil1: 
            if i != 0: 
                fix.append(i)
        print(fix)
    
    elif pilih==[2,2,3,2]:
        pil1=min(min(parobaya,lama),tinggi)
        for i in pil1: 
            if i != 0: 
                fix.append(i)
        print(fix)
    
    elif pilih==[1,2,3,2]:
        pil1=min(min(muda,lama),tinggi)
        for i in pil1: 
            if i != 0: 
                fix.append(i)
        print(fix)
            
    elif pilih==[1,2,2,2]:
        pil1=min(min(muda,lama),sedang)
        for i in pil1: 
            if i != 0: 
                fix.append(i)
        print(fix)
            
    elif pilih==[2,2,2,2]:
        pil1=min(min(parobaya,lama),sedang)
        for i in pil1: 
            if i != 0: 
                fix.append(i)
        print(fix)

    elif pilih==[3,2,2,2]:
        pil1=min(min(tua,lama),sedang)
        for i in pil1: 
            if i != 0: 
                fix.append(i)
        print(fix)
    else:
        print("")
    
    #Hasil Akhir Proses Operasi
    #usia
    usia=[]
    if pilih[0]==1:
        usia.append(muda)
    elif pilih[0]==2:
        usia.append(parobaya)
    elif pilih[0]==3:
        usia.append(tua)
    else:
        usia.append('ERROR')

    masa=[]
    if pilih[1]==1:
        masa.append(baru)
    elif pilih[1]==2:
        masa.append(lama)
    else:
        masa.append('ERROR')

    gaji=[]
    if pilih[2]==1:
        gaji.append(rendah)
    elif pilih[2]==2:
        gaji.append(sedang)
    elif pilih[2]==3:
        gaji.append(tinggi)
    else:
        gaji.append('ERROR')

    operasi=[]
    if pilih[3]==1:
        operasi.append('OR')
    elif pilih[3]==2:
        operasi.append('AND')
    else:
        operasi.append('ERROR')

    fixU=list(zip(usia,masa,gaji,operasi))
    df=pd.DataFrame(fixU,columns=['Usia','Masa Kerja','Gaji','Operasi'])
    print(df)

************ Operasi Logika Fuzzy || Waode siti nurhalisa_20100 ***********


====================== Usia ======================
    1. Muda
    2. Parobaya
    3. Tua

Masukkan Pilihan Anda : 1

=================== Masa Kerja ===================
    1. Baru
    2. Lama

Masukkan Pilihan Anda : 2

====================== Gaji ======================
    1. Rendah
    2. Sedang
    3. Tinggi

Masukkan Pilihan Anda : 3

==================== Operasi =====================
    1. OR - OR
    2. AND - AND

Masukkan Pilihan Anda : 1
[array([1.]), array([0.4]), array([0.3]), array([0.1]), array([0.3]), array([0.8]), array([0.5]), array([0.83333333])]

                                                Usia  \
0  [[1.0], 0, [0.4], [0.3], 0, [0.1], [0.3], [0.8...

                                          Masa Kerja  \
0  [0, [0.4666666666666667], [0.26666666666666666...

                                                Gaji Operasi
0  [0, [0.255], [0.5], [0.04], 0, [0.6], [0.25], ...      OR

In [38]:
#Hasil Akhir (Final)
print("Hasil Operasi Data Karyawan")
df=pd.DataFrame(fix,columns=['Hasil Operasi'])
print(df)

Hasil Operasi Data Karyawan
   Hasil Operasi
0       1.000000
1       0.400000
2       0.300000
3       0.100000
4       0.300000
5       0.800000
6       0.500000
7       0.833333